body {
    background-color: black;
    color: whitesmoke;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
}