body {
    color: rgb(238, 238, 238);
    text-shadow: 
    -2px -2px 0 #0000,  
    2px -2px 0 #0000,
    -2px 2px 0 #0000,
    2px  2px 0 #0000;
    background-color: #303030;
    background-image:  linear-gradient(#000000 2px, transparent 2px), linear-gradient(90deg, #000000 2px, transparent 2px), linear-gradient(#000000 1px, transparent 1px), linear-gradient(90deg, #000000 1px, #303030 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
}