/* WEB ANIMATIONS */

/* Typing animations */
@keyframes typing-title {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typing-subtitle {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}