/* BASE WEB STYLES */

* {
    color: var(--color-fg);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0; /* Asegura que esté fijo en la parte superior */
    left: 0; /* Asegura que se alinee con el lado izquierdo de la pantalla */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    background: var(--gradient-bg); /* Fondo con gradiente o color */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.title {
    text-align: left;
    margin: 0;
    font-size: 54px;
    white-space: nowrap;
    overflow: visible;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.language-selector {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

/* BODY */
body {
    background: var(--gradient-bg);
    color: var(--color-fg);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}