/* BASE WEB STYLES */

/* Reset Global */
* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fuentes claras y legibles */
    color: var(--color-fg);
}

/* BODY */
body {
    background: var(--gradient-bg); /* Fondo con gradiente */
    color: var(--color-fg); /* Color base del texto */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center;
    justify-content: flex-start;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: var(--gradient-bg); /* Fondo con gradiente */
    z-index: 1000; /* Mantiene el header visible sobre otros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.title {
    text-align: left;
    margin: 0;
    font-size: clamp(2.5rem, 6vw, 3.5rem); /* Tamaño de texto adaptable */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: visible; /* Evita el desbordamiento del texto */
    color: var(--color-fg); /* Color del título */
}

/* NAV-BAR */
.nav-bar {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre elementos */
    flex-grow: 1; /* Toma todo el espacio disponible */
}

.nav-bar a {
    text-decoration: none; /* Elimina el subrayado por defecto */
    color: var(--color-fg); /* Color de los enlaces */
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    font-weight: 500; /* Peso de la fuente para que no se vea demasiado delgada */
    transition: color 0.3s ease; /* Transición suave cuando cambia el color */
}

/* Color cuando se pasa el mouse */
.nav-bar a:hover {
    color: var(--color-accent); /* Color de los enlaces cuando el mouse está encima */
}

/* Color de los enlaces visitados */
.nav-bar a:visited {
    color: var(--color-fg); /* Mantén el mismo color de los enlaces después de ser visitados */
}

/* Language Selector */
.language-selector {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
