/* Para pantallas medianas y pequeñas (tabletas y pantallas medianas) */
@media (max-width: 1400px) {
    .title {
        font-size: 5vw; /* Ajuste con vw para que se adapte al tamaño de la pantalla */
    }

    .home-title {
        font-size: 12vw;
    }

    .home-subtitle {
        font-size: 6vw;
    }

    .home-container {
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centrado horizontal dentro del contenedor */
    }

    .home-text {
        text-align: center;
    }

    .home-description {
        font-size: 4vw;
    }

    .home-image img {
        max-width: 80%;
        height: auto;
    }

    .main-container {
        min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
        display: flex; /* Usar flexbox para centrar los elementos */
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        padding: 10vw 10vw 0 10vw; /* Ajuste con vw y vh para un padding más flexible */
    }

    /* CENTRAR EL BOTÓN DE CURRICULUM */
    .curriculum-button {
        margin: 0 auto; /* Centrado horizontal */
        margin-bottom: 40px; /* Margen inferior como ya tenías */
    }

    .header-btn {
        font-size: 1.1rem; /* Usar rem para tamaños de fuente más responsivos */
        display: none;
    }

    .social-media {
        position: relative;
        left: 50%; /* Centrado horizontal */
        transform: translateX(-50%); /* Centrado perfecto */
        display: flex;
        flex-direction: row; /* Los íconos en fila */
    }

    .social-media a {
        font-size: 2rem; /* Tamaño de fuente ajustable */
    }

    .social-media a:hover {
        transform: scale(1.1); /* Efecto de hover más pronunciado */
        transition: transform 0.3s ease; /* Transición más rápida */
    }

    #theme-toggle i {
        position: absolute;
        opacity: 0;
        font-size: 6vw;
        transition: opacity 0.5s ease;
    }
    
    #language-btn {
        padding: 8px 16px; /* Ajuste de padding más pequeño */
        font-size: 1rem; /* Tamaño de fuente más pequeño */
    }
}