/* Para pantallas medianas y pequeñas (tabletas y pantallas medianas) */
@media (max-width: 1400px) {
    .title {
        font-size: 40px;
    }

    .home-title {
        font-size: 60px;
    }

    .home-subtitle {
        font-size: 20px;
    }

    .home-container {
        flex-direction: column;
        padding: 20px 10px 0px 10px;
        justify-content: center;
        align-items: center; /* Centrado horizontal dentro del contenedor */
    }

    .home-text {
        text-align: center;
    }

    .home-image img {
        max-width: 80%;
        height: auto;
    }

    .main-container {
        min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
        display: flex; /* Usar flexbox para centrar los elementos */
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        padding: 10px;
    }

    /* CENTRAR EL BOTÓN DE CURRICULUM */
    .curriculum-button {
        margin: 0 auto; /* Centrado horizontal */
        margin-bottom: 40px; /* Margen inferior como ya tenías */
    }

    .header-btn {
        font-size: 18px;
    }

    .social-media {
        position: relative;
        left: 50%; /* Centrado horizontal */
        transform: translateX(-50%); /* Centrado perfecto */
        display: flex;
        flex-direction: row; /* Los íconos en fila */
        margin-top: 100%
    }

    .social-media a {
        font-size: 28px;
    }

    .social-media a:hover {
        transform: scale(1.01); /* Efecto de hover */
        transition: transform 1s ease;
    }
}